QLabel#LabelTitulo {
    background-color: #000000;
    color: #FFFFFF;
    padding-left: 6px;
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 14px;
    border-top-right-radius: 10px;
}

QLabel#LabelDialog {
    color: #2e3e7a;
    font-weight: bold;
    font-size: 12px;
}

QLabel#LabelError {
    color: #B30000;
    font-weight: bold;
    font-size: 12px;
}

QLabel#LabelErrorForm {
    color: #B30000;
    font-size: 12px;
    padding: 6px 0px;
}

QLabel#LabelForm {
    color: #2e3e7a;
    font-size: 12px;
    padding: 6px 6px;
}

QLabel#LabelSubTitulo {
    color: #2e3e7a;
    font-size: 12px;

}

QLabel#LabelCosto {
   font-size: 12px;
   color: #262626;
   font-weight: bold;
   padding: 0px 8px;
}

QLabel#LabelNombre {
   font-size: 14x;
   font-weight: bold;
   color: #ffffff;
}


QLabel#LabelCorner {
   font-size: 12x;
   font-weight: bold;
   color: #c8daf5;
}